<div id="side-nav" class="md-side-nav">
  <li>
    <a
      href="javascript:void(0)"
      class="side-nav-close-button"
      onclick="closeSideNav()"
      onkeyup="closeSideNav()"
      >&times;</a
    >
  </li>
  <ul>
    <li><a href="/index.html">Home</a></li>
    <li><a href="/news.html">News</a></li>
    <li><a href="/exhibition.html">Exhibitions</a></li>
    <li><a href="/food_and_drink.html">Food & drink</a></li>
    <br />
    <li><a href="/shop.html">Shop</a></li>
  </ul>
</div>
<span class="open-nav" onclick="openSideNav()" onkeyup="openSideNav()"
  >&#9776;
  <p class="txt-side-nav">Meny</p></span
>
