<div id="sideNav" class="mdSideNav">
  <li>
    <a
      href="javascript:void(0)"
      class="sideNavCloseButton"
      onclick="closeSideNav()"
      onkeyup="closeSideNav()"
      >&times;</a
    >
  </li>
  <ul>
    <li><a href="/index.html">Home</a></li>
    <li><a href="/news.html">News</a></li>
    <li><a href="/exhibition.html">Exhibitions</a></li>
    <!--<li><a href="/community.html">Community</a></li>-->
    <li><a href="/food_and_drink.html">Food & drink</a></li>
    <br />
    <li><a href="/shop.html">Shop</a></li>
  </ul>
</div>
<span class="openNav" onclick="openSideNav()" onkeyup="openSideNav()"
  >&#9776;
  <p class="txtSideNav">Meny</p></span
>
