<div class="ecology-grid-container">
  <div class="ecology-box-1 ecology-box-img" alt=""></div>
  <div class="ecology-box-2" id="section-box5">
    <h2>Ecology</h2>
    <!--<h5>-->
      <!--<small><i>Spaces</i></small>-->
    <!--</h5>-->
    <p class="fs-italic">Spaces</p>
    <p>
      As we learn more and more of the impact humans are having on the planet, the more important it
      becomes that scientists explore how to create a sustainable future not just for humans but for
      the whole planet. In our ecology section of the museum, we unpack the dangers we currently
      face including global warming, extinction of species, and pollution. But we also focus on the
      positive ways we can all contribute to a brighter future.
    </p>
  </div>
</div>
