<div class="medicine-grid-container">
  <div class="medicine-box-1 medicine-box-img" alt=""></div>
  <div class="medicine-box-2" id="section-box4">
    <h2>Biology and Medicine</h2>
    <h5>
      <small><i>Spaces</i></small>
    </h5>
    <p>
      From micro-organisms to the human body, major breakthroughs in biology are offering us unique
      insights into the great wonders of the tiny world. For many people their life expectancy is
      much longer and their quality of life much improved, thanks to the growth of our understanding
      of medicine. Over a series of exhibits we explore the history of medicine and take a look at
      some major breakthroughs including the discovery of penicillin and the first heart transplant.
      Many of our great medicinal discoveries have come not only from the lab, but also from
      observing animals in the wild. Often our fellow creatures have beat us to it.
    </p>
  </div>
</div>
