<div class="sub-page-body-g-grid-container">
  <div class="sub-page-body-g-box-1 sub-page-body-g-box-img" alt=""></div>
  <div class="sub-page-body-g-box-2">
    <h2>Visiting Professor of Aeronautics</h2>
    <h5>
      <small><i>News</i></small>
    </h5>
    <p>
      It is our pleasure to announce that Prof Sheila Widnall from the Massachusetts Institute of
      Technology will be delivering 3 lectures on the development of aeronautics and where the
      future lies in this exciting ‘space’.
    </p>
  </div>
</div>
