<div class="sub-page-body-f-grid-container">
  <div class="sub-page-body-f-box-1 sub-page-body-f-box-img" alt=""></div>
  <div class="sub-page-body-f-box-2" id="section-box3">
    <h2>Robotics and AI</h2>
    <h5>
      <small><i>Spaces</i></small>
    </h5>
    <p>
      The information revolution is here and robotics and artificial intelligence are the science of
      the future. From useful home applications of AI to industrial uses of robotics, the future is
      here. You can even say hello and shake the hand of Rob the Robot.
    </p>
  </div>
</div>
