<div class="shop-box-2-grid-container">
  <div class="shop-box-2-1">
    <div class="product-box">
      <div class="product-box-layer">
        <div class="product-box-front-layer product-box-img-2-1">
        </div>
        <div class="product-box-back-layer">
            <label class="lbl-soldout">Sold Out</label>
          <h1>THE MOON</h1>
          <br />
          <p>
            A nice poster with the moon.
          </p>
          <br />
          <p>kr 186,75</p>
          <br />
          <p>Size: 50x70</p>
        </div>
      </div>
    </div>
  </div>
  <div class="shop-box-2-2">
    <div class="product-box">
      <div class="product-box-layer">
        <div class="product-box-front-layer product-box-img-2-2"></div>
        <div class="product-box-back-layer">
            <label class="lbl-soldout">Sold Out</label>
          <h1>SPACE SHUTTLE</h1>
          <br />
          <p>
            Cool poster for the children's room by spaceship.
          </p>
          <br />
          <p>kr 186,75</p>
          <br />
          <p>Size: 50x70</p>
        </div>
      </div>
    </div>
  </div>
  <div class="shop-box-2-3">
    <div class="product-box">
      <div class="product-box-layer">
        <div class="product-box-front-layer product-box-img-2-3"></div>
        <div class="product-box-back-layer">
            <label class="lbl-soldout">Sold Out</label>
            <h1>THE </h1>
            <br />
            <p>
              A nice poster.
            </p>
            <br />
            <p>kr 186,75</p>
            <br />
            <p>Size: 50x70</p>
        </div>
      </div>
    </div>
  </div>
  <div class="shop-box-2-4">
    <div class="product-box">
      <div class="product-box-layer">
        <div class="product-box-front-layer product-box-img-2-4"></div>
        <div class="product-box-back-layer">
            <label class="lbl-soldout">Sold Out</label>
            <h1>THE </h1>
            <br />
            <p>
              A nice poster.
            </p>
            <br />
            <p>kr 186,75</p>
            <br />
            <p>Size: 50x70</p>
        </div>
      </div>
    </div>
  </div>
  <div class="shop-box-2-5">
    <div class="product-box">
      <div class="product-box-layer">
        <div class="product-box-front-layer product-box-img-2-5"></div>
        <div class="product-box-back-layer">
            <label class="lbl-soldout">Sold Out</label>
            <h1>THE </h1>
            <br />
            <p>
              A nice poster.
            </p>
            <br />
            <p>kr 186,75</p>
            <br />
            <p>Size: 50x70</p>
        </div>
      </div>
    </div>
  </div>
  <div class="shop-box-2-6">
    <div class="product-box">
      <div class="product-box-layer">
        <div class="product-box-front-layer product-box-img-2-6"></div>
        <div class="product-box-back-layer">
            <label class="lbl-soldout">Sold Out</label>
            <h1>THE </h1>
            <br />
            <p>
              A nice poster.
            </p>
            <br />
            <p>kr 186,75</p>
            <br />
            <p>Size: 50x70</p>
        </div>
      </div>
    </div>
  </div>
  <div class="shop-box-2-7">
    <div class="product-box">
      <div class="product-box-layer">
        <div class="product-box-front-layer product-box-img-2-7"></div>
        <div class="product-box-back-layer">
            <label class="lbl-soldout">Sold Out</label>
            <h1>THE </h1>
            <br />
            <p>
              A nice poster.
            </p>
            <br />
            <p>kr 186,75</p>
            <br />
            <p>Size: 50x70</p>
        </div>
      </div>
    </div>
  </div>
  <div class="shop-box-2-8">
    <div class="product-box">
      <div class="product-box-layer">
        <div class="product-box-front-layer product-box-img-2-8"></div>
        <div class="product-box-back-layer">
            <label class="lbl-soldout">Sold Out</label>
            <h1>THE </h1>
            <br />
            <p>
              A nice poster.
            </p>
            <br />
            <p>kr 186,75</p>
            <br />
            <p>Size: 50x70</p>
        </div>
      </div>
    </div>
  </div>
  <div class="shop-box-2-9">
    <div class="product-box">
      <div class="product-box-layer">
        <div class="product-box-front-layer product-box-img-2-9"></div>
        <div class="product-box-back-layer">
            <label class="lbl-soldout">Sold Out</label>
            <h1>THE </h1>
            <br />
            <p>
              A nice poster.
            </p>
            <br />
            <p>kr 186,75</p>
            <br />
            <p>Size: 50x70</p>
        </div>
      </div>
    </div>
  </div>
</div>
