.body-e-grid-container {
  grid-template-areas: "body-e-box-1 body-e-box-2";
}

.body-e-box-1 {
  grid-area: body-e-box-1;
}

.body-e-box-2 {
  grid-area: body-e-box-2;
  padding: 50px 30px;
  text-align: justify;
  p {
    font-size: $font--m;
    font-weight: 100;
  }
  @media #{$screen__l} {
    padding: 50px 80px;
  }
}

.body-e-box-img {
  background-image: url("../../../media/samuel-zeller.jpg");
  width: 100%;
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  @media #{$screen__l} {
    background-attachment: scroll;
  }
}
