/**
* Reset av broser adding 
*
*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

////////////////////////

$container: 1000px;
$padding--l: 30px;
$padding--s: 15px;
$padding--xs: 5px;

$font--s: 12px;
$font--m: 19px;
$font--l: 25px;
$font--lx: 35px;

main {
  flex: 1;
}

html {
  scroll-behavior: smooth;
}

//img {
//  width: 100%;
//}


body {
  font-family: "Comfortaa", "Montserrat", sans-serif;
  font-weight: 100;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

a,
ul,
li {
  list-style-type: none;
  text-decoration: none;
}


p,
h1,
h2,
h3 {
  font-size: $font--s;
}
@media #{$screen__l} {
  p,
  h1,
  h2,
  h3 {
    font-size: $font--m;
  }
}
