/**
* Reset av broser adding 
*
*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

////////////////////////

$container: 1000px;
$padding--l: 30px;
$padding--s: 15px;
$padding--xs: 5px;

$font--s: 15px;
$font--m: 23px;
$font--l: 25px;
$font--lx: 37px;

main {
  flex: 1;
}


body {
  font-family: "Comfortaa", "Montserrat", sans-serif;
  font-weight: 900;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

a,
ul,
li {
  list-style-type: none;
}

.box,
.box-1,
.box-2,
.content-box {
  display: flex;
}



p, h1, h2, h3 {
  font-size:12px;
} 
@media #{$screen__l} {
  p, h1, h2, h3 {
    font-size:19px;
  }
}
