/**
* Reset av broser adding 
*
*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

////////////////////////

$container: 1000px;
$padding--l: 30px;
$padding--s: 15px;
$padding--xs: 5px;

$font--s: 12px;
$font--m: 19px;
$font--l: 25px;
$font--lx: 35px;

$font--bt: 17px;
$font--btxt: 15px;
$font--sub-txt: 14px;


main {
  flex: 1;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Comfortaa", "Montserrat", sans-serif;
  font-weight: 100;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  position: relative;
  @media #{$screen__xxl } {
    margin: 0 auto;
    max-width: 1600px;
  } 
}

a,
ul,
li {
  list-style-type: none;
  text-decoration: none;
}


p,
h1,
h2,
h3 {
  font-size: $font--s;
}
@media #{$screen__l} {
  p,
  h1,
  h2,
  h3 {
    font-size: $font--m;
  }
}


/**
* Font size in sted of HTML <small> Tag
*/

.small {
  font-size: $font--bt;
}

.small-btxt {
  font-size: $font--btxt;
}

/**
* Content inside is typically displayed in italic.
*/

.fs-italic {
  font-style: italic;
  font-weight: 400;
  font-size: $font--sub-txt;
}
