.ecology-grid-container {
  grid-template-areas: "ecology-box-1 ecology-box-2";
}

.ecology-box-1 {
  grid-area: ecology-box-1;
}

.ecology-box-2 {
  grid-area: ecology-box-2;
  padding: 20px 30px;
  @media #{$screen__l} {
    padding: 50px 80px;
  }
}

.ecology-box-img {
  background-image: url("../../../media/scientific.jpg");
  width: 100%;
  min-height: 500px;
  object-fit: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  @media #{$screen__l} {
    background-attachment: scroll;
  }
  /* safari only */
  @media not all and (min-resolution:.001dpcm) { 
    background-attachment: scroll;
}
}
