.explore-for-kids-grid-container {
  grid-template-areas: "explore-for-kids-box-1 explore-for-kids-box-2";
}

.explore-for-kids-box-1 {
  grid-area: explore-for-kids-box-1;
}

.explore-for-kids-box-2 {
  grid-area: explore-for-kids-box-2;
  padding: 50px 30px;
  //text-align: justify;
  
  @media #{$screen__l} {
    padding: 50px 80px;
  }
}

.explore-for-kids-box-img {
  background-image: url("../../../media/samuel-zeller.jpg");
  width: 100%;
  min-height: 500px;
  background-attachment: fixed;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  @media #{$screen__l} {
    background-attachment: scroll;
  }
  /* safari only */
  @media not all and (min-resolution: 0.001dpcm) {
    background-attachment: scroll;
  }
}
