.hero-grid-container {
  grid-template-areas:
    "hero-box-e-1"
    "hero-box-e-2";
}

.hero-box-e-1 {
  grid-area: hero-box-e-1;
}
.hero-baner{
    display: none;
}
.hero-box-e-2 {
    grid-area: hero-box-e-2;
@media #{$screen__l} {
    h3 {
      background-color: #000;
      height: 95px;
      color: #fff;
      display: flex;
      justify-content: center;
      margin-top: -105px;
      font-size: 70px;
    }
  }
}

@media #{$screen__l} {
  .baner-img {
    height: 500px;
    background-image: url(../../media/scott-webb.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
