.medicine-grid-container {
  grid-template-areas: "medicine-box-1 medicine-box-2";
}

.medicine-box-1 {
  grid-area: medicine-box-1;
}

.medicine-box-2 {
  grid-area: medicine-box-2;
  padding: 20px 30px;
  @media #{$screen__l} {
    padding: 50px 80px;
  }
}

.medicine-box-img {
  background-image: url("../../../media/people.jpg");
  width: 100%;
  min-height: 500px;
  object-fit: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  @media #{$screen__l} {
    background-attachment: scroll;
  }
  /* safari only */
  @media not all and (min-resolution: 0.001dpcm) {
    background-attachment: scroll;
  }
}
