.txt-side-nav {
  color: #0b3d5e;
  font-size: 10px;
}

.md-side-nav.open-side-nav {
  width: 80%;
}

.md-side-nav.close-side-nav {
  width: 0;
}

.open-nav {
  font-size: 30px;
  cursor: pointer;
  color: #18a0fb;
}

.md-side-nav {
  justify-content: center;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99999999;
  top: 0;
  right: 0;
  background-color: #18a0fbc2;
  overflow-x: hidden;
  transition: width 0.5s;
  padding-top: 80px;
}

.md-side-nav a {
  display: grid;
  justify-items: end;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: $font--l;
  color: #fff;
  transition: width 0.3s;
  margin: 10px;
}

.md-side-nav a:hover {
  color: #0b3d5e;
}

.md-side-nav .side-nav-close-button {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #fff;
}
.nav,
.md-side-nav {
  display: flex;
}
.nav {
  justify-content: flex-end;
  margin: 10px;
  margin-top: -80px;
  margin-left: auto;
  width: 30px;
}

@media #{$screen__l} {
  .md-side-nav.open-side-nav {
    width: 50%;
  }
}
