.shop-box-grid-container {
  grid-template-areas:
    "shop-box-1 shop-box-2 shop-box-3"
    "shop-box-4 shop-box-5 shop-box-6"
    "shop-box-7 shop-box-8 shop-box-9";
}

.shop-box-1 {
  grid-area: shop-box-1;
}

.shop-box-2 {
  grid-area: shop-box-2;
}

.shop-box-3 {
  grid-area: shop-box-3;
}

.shop-box-4 {
  grid-area: shop-box-4;
}

.shop-box-5 {
  grid-area: shop-box-5;
}

.shop-box-6 {
  grid-area: shop-box-6;
}

.shop-box-7 {
  grid-area: shop-box-7;
}

.shop-box-8 {
  grid-area: shop-box-8;
}

.shop-box-9 {
  grid-area: shop-box-9;
}

.product-box {
  height: 250px;
  height: auto;
  perspective: 1000px;
  margin-bottom: 5px;
}

.product-box-layer {
  height: 250px;
  position: relative;
  width: 100%;
  //text-align: center;
  transition: transform 0.4s;
  transform-style: preserve-3d;
}

.product-box:hover .product-box-layer {
  -ms-transform: translateY(180deg);
  -webkit-transform: translateY(180deg);
  -moz-transform: translateY(180deg);
  -o-transform: translateY(180deg);
  transform: rotateY(180deg);
}

.product-box-front-layer,
.product-box-back-layer {
  position: absolute;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.product-box-front-layer {
  background-color: transparent;
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.2);
}

.product-box-front-layer {
  height: 250px;
  overflow: hidden;
}

.product-box-back-layer {
  text-align: center;
  background-color: #18a0fb73;
  padding: 25px 15px;
  height: 250px;
  color: #fff;
  -ms-transform: translateY(180deg);
  -webkit-transform: translateY(180deg);
  -moz-transform: translateY(180deg);
  -o-transform: translateY(180deg);
  transform: rotateY(180deg);
  p {
    font-size: 15px;
  }
}

.product-box-img,
.product-box-img-1,
.product-box-img-2,
.product-box-img-3,
.product-box-img-4,
.product-box-img-5,
.product-box-img-6,
.product-box-img-7,
.product-box-img-8,
.product-box-img-9 {
  width: 100%;
  //height: 250px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  cursor: pointer;
}

.product-box-img {
  background-image: url(../../media/coming-soon-3.webp);
}
.product-box-img-1 {
  background-image: url(../../media/coming-soon-3.webp);
}
.product-box-img-2 {
  background-image: url(../../media/coming-soon-3.webp);
}
.product-box-img-3 {
  background-image: url(../../media/coming-soon-3.webp);
}
.product-box-img-4 {
  background-image: url(../../media/coming-soon-3.webp);
}
.product-box-img-5 {
  background-image: url(../../media/coming-soon-3.webp);
}
.product-box-img-6 {
  background-image: url(../../media/coming-soon-3.webp);
}
.product-box-img-7 {
  background-image: url(../../media/coming-soon-3.webp);
}
.product-box-img-8 {
  background-image: url(../../media/coming-soon-3.webp);
}
.product-box-img-9 {
  background-image: url(../../media/coming-soon-3.webp);
}