.shop-box-2-grid-container {
  grid-template-areas:
    "shop-box-2-1 shop-box-2-2 shop-box-2-3"
    "shop-box-2-4 shop-box-2-5 shop-box-2-6"
    "shop-box-2-7 shop-box-2-8 shop-box-2-9";
}

.shop-box-2-1 {
  grid-area: shop-box-2-1;
}

.shop-box-2-2 {
  grid-area: shop-box-2-2;
}

.shop-box-2-3 {
  grid-area: shop-box-2-3;
}

.shop-box-2-4 {
  grid-area: shop-box-2-4;
}

.shop-box-2-5 {
  grid-area: shop-box-2-5;
}

.shop-box-2-6 {
  grid-area: shop-box-2-6;
}

.shop-box-2-7 {
  grid-area: shop-box-2-7;
}

.shop-box-2-8 {
  grid-area: shop-box-2-8;
}

.shop-box-2-9 {
  grid-area: shop-box-2-9;
}

.lbl-soldout {
  position: absolute;
  left: 5px;
  top: 5px;
  z-index: 11;
  right: 5px;
  //background: #ff708e;
  background-color: #0b3d5e;
  width: 50px;
  border-radius: 100%;
  padding: 5px;
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.2);
}

.product-box-img-2-1, 
.product-box-img-2-2, 
.product-box-img-2-3, 
.product-box-img-2-4, 
.product-box-img-2-5, 
.product-box-img-2-6,
.product-box-img-2-6,
.product-box-img-2-7,
.product-box-img-2-8,
.product-box-img-2-9  {
  width: 100%;
  height: 250px;
  cursor: pointer;
}
