.signup-grid-container {
  grid-template-areas: "signup-box-1 signup-box-2";
}

.signup-box-1 {
  grid-area: signup-box-1;
}

.signup-box-2 {
  grid-area: signup-box-2;
  @media #{$screen__l} {
    a {
        margin: 10px;
    }
  }
}

.signup-box-1,
.signup-box-2 {
  padding: 20px 30px;
  @media #{$screen__l} {
    padding: 50px 80px;
  }
}

.test-bottum {
  margin-top: 15px;
  background-color: #18a0fb;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  color: #fff;
  position: relative;
  box-shadow: 0px 20px 54px 5px #5098c959;
  cursor: pointer;
  width: 100%;
}
.test-bottum:hover {
  background-color: #0b3d5e;
  transition: 1s;
  position: relative;
  box-shadow: 0px 20px 54px 5px #686868;
}
@media #{$screen__l} {
  .test-bottum {
    margin-top: 75px;
  }
}

.signup-box-1 {
    h2{
        font-size: $font--m;
    }
  p {
    font-size: $font--m;
    font-weight: 100;
  }
  @media #{$screen__l} {
    font-size: $font--m;
    font-weight: 100;
  }
}
