.sub-page-body-f-grid-container {
  grid-template-areas: "sub-page-body-f-box-1 sub-page-body-f-box-2";
}

.sub-page-body-f-box-1 {
  grid-area: sub-page-body-f-box-1;
}

.sub-page-body-f-box-2 {
  grid-area: sub-page-body-f-box-2;
  padding: 20px 30px;
  @media #{$screen__l} {
    padding: 50px 80px;
  }
  p {
    font-size: $font--m;
    font-weight: 100;
  }
}

.sub-page-body-f-box-img {
  background-image: url("../../../media/samuel-zeller.jpg");
  width: 100%;
  min-height: 500px;
  object-fit: cover;
  background-attachment: fixed;
  //background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  @media #{$screen__l} {
    background-attachment: scroll;
  }
}
