.sub-page-hero-x-1-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "sub-page-hero-x-1";
  }
  
  .sub-page-hero-x-1 { 
      grid-area: sub-page-hero-x-1;
      padding: 50px 30px;
      text-align: center;
      h1{
          font-size: $font--l;
      }
    }
  