<div class="body-b-grid-container">
  <div class="bady-box-b-1">
    <div class="body-b-info-grid-container">
      <div class="body-box1-tital">
        <small><i>HOURS</i></small>
      </div>
      <div class="body-box2-info-text">
        <div class="body-box2-info-day">
          <ul>
            <li>Monday</li>
            <li>Tuesday</li>
            <li>Wednesday</li>
            <li>Thursday</li>
            <li>Friday</li>
            <li>Saturday</li>
            <li>Sunday</li>
          </ul>
        </div>
        <div class="body-box2-info-date">
          <ul>
            <li>Closed</li>
            <li>10:00 - 16:00</li>
            <li>10:00 - 16:00</li>
            <li>10:00 - 16:00</li>
            <li>10:00 - 19:00</li>
            <li>09:00 - 16:00</li>
            <li>09:00 - 13:00</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="body-box-b-2">
  <div class="collapse-wrapper"> 
      <button class="collapse-button" href="" onclick="collapse()"><span>ADMISSION</span></button>
  </div>
    <div id="butten-collapse" class="collapse-button-txt" onclick="notCollapse ()">
      <small class="collapse-x"><i>X</i></small>
      <small><i>The entrance is free for all. </i></small><br />
    </div>
    <div class="collapse-wrapper">
    <button class="collapse-button" href="" onclick="collapseX()"><span>GUIDED TOURS</span></button>
    </div>
    <div id="butten-collapse-x" class="collapse-button-txt" onclick="notCollapseX()">
      <small class="collapse-x"><i>X</i></small>
      <small
        ><i
          >There are guided tours of the museum that leave every hour. These tours are 70 NOK per
          person and include a handy printed guide of the museum.</i
        ></small
      ><br />
    </div>
    <div class="collapse-wrapper">
    <button class="collapse-button" href="" onclick="collapseX1()"><span>ORGANISE A GUIDED TOUR</span></button>
    </div>
    <div id="butten-collapse-x-1" class="collapse-button-txt" onclick="notCollapseX1()">
      <small class="collapse-x-1"><i>X</i></small>
      <small
        ><i
          >If you would like to organise a guided tour for your group of 6 or more people, please
          contact us to arrange the tour.</i
        ></small
      ><br />
    </div>
    <div class="collapse-wrapper">
    <button class="collapse-button" href="" onclick="collapseX2()"><span>ACCESSIBILITY</span></button>
    </div>
    <div id="butten-collapse-x-2" class="collapse-button-txt" onclick="notCollapseX2()">
      <small class="collapse-x-2"><i>X</i></small>
      <small
        ><i
          >The museum has wheelchair accessibility ramps. It also has audio guides and braille
          display signs for the visually impaired.</i
        ></small
      ><br />
    </div>
  </div>
  <div class="body-box-b-3">
    <iframe
      width="100%"
      height="100%"
      id="gmap_canvas"
      src="https://maps.google.com/maps?q=Kjels%C3%A5sveien%20143%200491%20Oslo&t=&z=17&ie=UTF8&iwloc=&output=embed"
      frameborder="0"
      scrolling="no"
      marginheight="0"
      marginwidth="0"
    ></iframe>
  </div>
</div>
