<div class="explore-for-researchers-grid-container">
  <div class="explore-for-researchers-box-1 explore-for-researchers-box-img" alt=""></div>
  <div class="explore-for-researchers-box-2">
    <h2>Explore</h2>
    <h5>
      <small><i>Researchers</i></small>
    </h5>
    <p>
      Are you looking to get involved with our team of researchers and academics? Our museum offers
      various ways for you to use our resources and contribute towards them. We have online records,
      laboratory space, and a working relationship with a number of universities around the country.
    </p>
  </div>
</div>
