<div class="explore-for-teachers-grid-container">
  <div class="explore-for-teachers-box-1">
    <h2>Explore</h2>
    <!--<h5>-->
      <small><i>For teachers</i></small>
    <!--</h5>-->
    <p>
      As a community-driven museum, we want to work with schools to create places of learning and
      exploring. Our team are on hand to give your students guided tours of the museum, teach them
      in our learning laboratory, and provide great video presentations that will excite and inspire
      them. Please get in touch with us here to find out more about our facilities and to arrange a
      time to bring your students through for a visit.
    </p>
  </div>
  <div class="explore-for-teachers-box-2 explore-for-teachers-box-img" alt="" ></div>
</div>
