<div class="info-box-grid-container">
  <div class="bady-box-b-1">
    <div class="info-box-info-grid-container">
      <div class="body-box1-tital">
        <!--<small><i>HOURS</i></small>-->
        <p class="small">HOURS</p>
      </div>
      <div class="body-box2-info-text">
        <div class="body-box2-info-day">
          <ul>
            <li>Monday</li>
            <li>Tuesday</li>
            <li>Wednesday</li>
            <li>Thursday</li>
            <li>Friday</li>
            <li>Saturday</li>
            <li>Sunday</li>
          </ul>
        </div>
        <div class="body-box2-info-date">
          <ul>
            <li>Closed</li>
            <li>10:00 - 16:00</li>
            <li>10:00 - 16:00</li>
            <li>10:00 - 16:00</li>
            <li>10:00 - 19:00</li>
            <li>09:00 - 16:00</li>
            <li>09:00 - 13:00</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="body-box-b-2">
    <div class="collapse-wrapper">
      <button class="collapse-button" href="" onclick="collapse()" onkeyup="collapse()">
        <span>ADMISSION</span>
      </button>
    </div>
    <div
      id="butten-collapse"
      class="collapse-button-txt"
      onclick="notCollapse ()"
      onkeyup="notCollapse ()"
    >
      <!--<small class="collapse-x"><i>X</i></small>-->
      <p class="collapse-x">x</p>
      <!--<small><i>The entrance is free for all. </i></small>-->
      <p class="small-btxt">The entrance is free for all.</p>
      <br />
  </div>
    <div class="collapse-wrapper">
      <button class="collapse-button" href="" onclick="collapseX()" onkeyup="collapseX()">
        <span>GUIDED TOURS</span>
      </button>
    </div>
    <div
      id="butten-collapse-x"
      class="collapse-button-txt"
      onclick="notCollapseX()"
      onkeyup="notCollapseX()"
    >
      <!--<small class="collapse-x"><i>X</i></small>-->
      <p class="collapse-x">x</p>
      <!--<small
        ><i
          >There are guided tours of the museum that leave every hour. These tours are 70 NOK per
          person and include a handy printed guide of the museum.
          </i
        ></small
      >-->
      <p class="small-btxt">There are guided tours of the museum that leave every hour. These tours are 70 NOK per
        person and include a handy printed guide of the museum.</p>
      <br />
  </div>
    <div class="collapse-wrapper">
      <button class="collapse-button" href="" onclick="collapseX1()" onkeyup="collapseX1()">
        <span>ORGANISE A GUIDED TOUR</span>
      </button>
    </div>
    <div
      id="butten-collapse-x-1"
      class="collapse-button-txt"
      onclick="notCollapseX1()"
      onkeyup="notCollapseX1()"
    >
      <!--<small class="collapse-x-1"><i>X</i></small>-->
      <p class="collapse-x-1">x</p>
      <!--<small
        ><i
          >If you would like to organise a guided tour for your group of 6 or more people, please
          contact us to arrange the tour.
            <a class="mail-button" href="mailto:CSM@example.com?cc=Suportmail@example.com,&subject=ORGANISE A GUIDED TOUR&body=Hi I would like to organise a guided tour for your group of 20 people! Is this possible, Monday the 19.09.23?">Contact Us</a>
        </i>
        </small>-->
        <p class="small-btxt">If you would like to organise a guided tour for your group of 6 or more people, please
          contact us to arrange the tour.
            <a class="mail-button" href="mailto:CSM@example.com?cc=Suportmail@example.com,&subject=ORGANISE A GUIDED TOUR&body=Hi I would like to organise a guided tour for your group of 20 people! Is this possible, Monday the 19.09.23?">Contact Us</a></p>
        <br />
      </div>
    <div class="collapse-wrapper">
      <button class="collapse-button" href="" onclick="collapseX2()" onkeyup="collapseX2()">
        <span>ACCESSIBILITY</span>
      </button>
    </div>
    <div
      id="butten-collapse-x-2"
      class="collapse-button-txt"
      onclick="notCollapseX2()"
      onkeyup="notCollapseX2()"
    >
      <!--<small class="collapse-x-2"><i>X</i></small>-->
      <p class="collapse-x-2">x</p>
      <!--<small
        ><i
          >The museum has wheelchair accessibility ramps. It also has audio guides and braille
          display signs for the visually impaired.</i
        ></small
      >-->
      <p class="small-btxt">The museum has wheelchair accessibility ramps. It also has audio guides and braille
        display signs for the visually impaired.</p>
      <br />
  </div>
  </div>
  <div class="body-box-b-3">
    <iframe
      title="google maps"
      width="100%"
      height="100%"
      id="gmap_canvas"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1996.9353255600452!2d10.78052761609069!3d59.96639628188628!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x464171e7ed1e997b%3A0xdea4421d7d285a7b!2sKjels%C3%A5sveien%20143%2C%200491%20Oslo!5e0!3m2!1sno!2sno!4v1627983156910!5m2!1sno!2sno"
      allowfullscreen=""
      loading="lazy"
    ></iframe>
  </div>
</div>
