/**
 * Flexbox
 *
 * This is the root elements 4 flexbox object. 
 * NB! Mobile first 
 *
 *
*/
.grid {
  flex: 1; }
  @media only screen and (min-width: 640px) {
    .grid {
      display: flex;
      flex-flow: row wrap; } }

.grid-cell--xs-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

@media only screen and (min-width: 640px) {
  .grid-cell--md-6 {
    flex: 0 0 50%;
    max-width: 50%; } }

@media only screen and (min-width: 768px) {
  .grid-cell--lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; } }

.box,
.box-1,
.box-2,
.content-box {
  display: flex; }

.box-container {
  padding: 20px;
  justify-items: center; }

.box-grid-center {
  display: flex;
  justify-content: center; }

/**
 * Grid Containers
 *
 * This is the root elements 4 Grid Containers object. 
 * NB! Mobile first 
 *
 *
*/
.hero-grid-container,
.body-b-info-grid-container {
  display: grid; }

.body-b-grid-container,
.body-e-grid-container,
.body-f-grid-container,
.body-g-grid-container,
.testimonial-body-d-grid-container,
.body-signup-c-grid-container,
.sub-page-body-g-grid-container,
.sub-page-body-d-grid-container,
.sub-page-body-c-grid-container,
.sub-page-body-a-grid-container,
.sub-page-body-b-grid-container,
.sub-page-body-f-grid-container,
.sub-page-body-e-grid-container,
.sub-page-body-h-grid-container,
.shop-box-grid-container,
.shop-box-2-grid-container {
  display: block; }
  @media only screen and (min-width: 1024px) {
    .body-b-grid-container,
    .body-e-grid-container,
    .body-f-grid-container,
    .body-g-grid-container,
    .testimonial-body-d-grid-container,
    .body-signup-c-grid-container,
    .sub-page-body-g-grid-container,
    .sub-page-body-d-grid-container,
    .sub-page-body-c-grid-container,
    .sub-page-body-a-grid-container,
    .sub-page-body-b-grid-container,
    .sub-page-body-f-grid-container,
    .sub-page-body-e-grid-container,
    .sub-page-body-h-grid-container,
    .shop-box-grid-container,
    .shop-box-2-grid-container {
      display: grid; } }

.hero-grid-container,
.body-b-info-grid-container,
.body-signup-c-grid-container {
  gap: 0px 0px; }

.body-b-grid-container,
.body-e-grid-container,
.body-f-grid-container {
  padding: 10px;
  gap: 0 10px; }

.body-g-grid-container {
  padding-top: 10px;
  gap: 0 10px; }

.footer-grid {
  gap: 5px 0px; }

.sub-page-body-g-grid-container,
.sub-page-body-d-grid-container,
.sub-page-body-c-grid-container,
.sub-page-body-a-grid-container,
.sub-page-body-b-grid-container,
.sub-page-body-e-grid-container,
.sub-page-body-f-grid-container,
.sub-page-body-h-grid-container {
  padding: 10px;
  gap: 0px 10px; }

.body-b-grid-container,
.body-b-grid-container,
.body-e-grid-container,
.body-f-grid-container,
.body-g-grid-container,
.body-signup-c-grid-container,
.sub-page-body-g-grid-container,
.sub-page-body-d-grid-container,
.sub-page-body-c-grid-container,
.sub-page-body-a-grid-container,
.sub-page-body-b-grid-container,
.sub-page-body-e-grid-container,
.sub-page-body-f-grid-container,
.sub-page-body-h-grid-container {
  grid-template-rows: 1fr; }

.shop-box-grid-container, .shop-box-2-grid-container {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 10px;
  gap: 10px 10px; }

.hero-grid-container,
.footer-grid {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr; }

.footer-container-grid {
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr; }

.body-b-grid-container {
  grid-template-columns: 1fr 1fr 1fr; }

.body-b-info-grid-container {
  grid-template-columns: 5fr;
  grid-template-rows: 1fr 3.1fr; }

.body-e-grid-container,
.body-f-grid-container,
.body-g-grid-container,
.sub-page-body-g-grid-container,
.sub-page-body-d-grid-container,
.sub-page-body-c-grid-container,
.sub-page-body-a-grid-container,
.sub-page-body-b-grid-container,
.sub-page-body-e-grid-container,
.sub-page-body-f-grid-container,
.sub-page-body-h-grid-container {
  grid-template-columns: 1fr 1fr; }

.testimonial-body-d-grid-container {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px 15px; }

.body-signup-c-grid-container {
  grid-template-columns: 1.5fr 1fr; }

/**
 * Grid
 *
 * This is the root element of a mediaqueri grid object. 
 * NB! Mobile first 
 *
 *
*/
/**
* Reset av broser adding 
*
*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

main {
  flex: 1; }

html {
  scroll-behavior: smooth; }

body {
  font-family: "Comfortaa", "Montserrat", sans-serif;
  font-weight: 100;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-decoration: none; }

a,
ul,
li {
  list-style-type: none;
  text-decoration: none; }

p,
h1,
h2,
h3 {
  font-size: 12px; }

@media only screen and (min-width: 1024px) {
  p,
  h1,
  h2,
  h3 {
    font-size: 19px; } }

.txtSideNav {
  color: #0b3d5e;
  font-size: 10px; }

.mdSideNav.openSideNav {
  width: 80%; }

.mdSideNav.closeSideNav {
  width: 0; }

.openNav {
  font-size: 30px;
  cursor: pointer;
  color: #18a0fb; }

.mdSideNav {
  justify-content: center;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99999999;
  top: 0;
  right: 0;
  background-color: #18a0fbc2;
  overflow-x: hidden;
  transition: width 0.5s;
  padding-top: 80px; }

.mdSideNav a {
  display: grid;
  justify-items: end;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  transition: width 0.3s;
  margin: 10px; }

.mdSideNav a:hover {
  color: #0b3d5e; }

.mdSideNav .sideNavCloseButton {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #fff; }

.nav,
.mdSideNav {
  display: flex; }

.nav {
  justify-content: flex-end;
  margin: 10px;
  margin-top: -80px;
  margin-left: auto;
  width: 30px; }

@media only screen and (min-width: 1024px) {
  .mdSideNav.openSideNav {
    width: 50%; } }

/* Style the header */
.header {
  margin: 10px;
  height: 65px; }

.box-1 h1 {
  margin-top: 15px;
  color: #000; }

.nav-logo {
  width: 3rem;
  height: 3rem; }

.txthederlogo:active,
.txthederlogo:visited {
  color: #000; }

.footer-grid,
.footer-container-grid {
  display: block; }
  @media only screen and (min-width: 1024px) {
    .footer-grid,
    .footer-container-grid {
      display: grid; } }

.footer-box-1,
.footer-box-2,
.footer-logo-box,
.footer-box-3,
.footer-box-4,
.footer-bottom-box {
  text-align: center;
  margin: 15px; }
  .footer-box-1 a,
  .footer-box-2 a,
  .footer-logo-box a,
  .footer-box-3 a,
  .footer-box-4 a,
  .footer-bottom-box a {
    color: #000; }
  @media only screen and (min-width: 1024px) {
    .footer-box-1,
    .footer-box-2,
    .footer-logo-box,
    .footer-box-3,
    .footer-box-4,
    .footer-bottom-box {
      font-weight: normal; } }

.footer-grid {
  gap: 5px 0px;
  grid-template-areas: "top-footer" "bottom-footer"; }

.top-footer {
  grid-area: top-footer; }

.bottom-footer {
  grid-area: bottom-footer;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  padding-top: 20px; }
  .bottom-footer a {
    color: #000; }

.footer-container-grid {
  gap: 5px 5px;
  padding: 15px 15px;
  grid-template-areas: "footer-box-1 footer-box-2 footer-logo-box footer-box-3 footer-box-4"; }

.footer-box-1 {
  grid-area: footer-box-1; }

.footer-box-2 {
  grid-area: footer-box-2; }

.footer-logo-box {
  display: none; }
  @media only screen and (min-width: 1024px) {
    .footer-logo-box {
      grid-area: footer-logo-box;
      display: block; } }

.footer-box-3 {
  grid-area: footer-box-3; }

.footer-box-4 {
  grid-area: footer-box-4; }

@media only screen and (min-width: 1024px) {
  .footer-border {
    border-top: solid #000 1px;
    margin: 0 50px 0 50px; } }

.hero-grid-container {
  height: 555px;
  grid-template-areas: "hero-box-e-1" "hero-box-e-2"; }

.hero-box-e-1 {
  grid-area: hero-box-e-1; }

.hero-box-e-2 {
  grid-area: hero-box-e-2; }
  .hero-box-e-2 h3 {
    background-color: #18a0fbc2;
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: -105px;
    font-size: 35px; }
    @media only screen and (min-width: 1024px) {
      .hero-box-e-2 h3 {
        font-size: 70px; } }

.baner-img {
  height: 500px;
  background-image: url(../../media/scott-webb.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.body-b-grid-container {
  grid-template-areas: "bady-box-b-1 body-box-b-2 body-box-b-3"; }

.bady-box-b-1,
.bady-box-b-2,
.bady-box-b-3 {
  margin-bottom: 5px; }

.bady-box-b-1 {
  grid-area: bady-box-b-1; }

.body-box-b-2 {
  grid-area: body-box-b-2; }

.body-box-b-3 {
  grid-area: body-box-b-3;
  box-shadow: 0 0 2em -19px; }

.body-b-info-grid-container {
  grid-template-areas: "body-box1-tital" "body-box2-info-text"; }

.body-box1-tital {
  grid-area: body-box1-tital;
  background-color: #18a0fbc2;
  color: #fff;
  padding: 15px;
  text-align: center; }

.body-box2-info-text {
  display: flex;
  grid-area: body-box2-info-text;
  color: #fff;
  background-color: #18a0fb;
  padding-top: 10px; }
  @media only screen and (min-width: 1024px) {
    .body-box2-info-text {
      padding-top: 0; } }

.body-box2-info-day {
  text-align: center;
  width: 50%; }
  @media only screen and (min-width: 1024px) {
    .body-box2-info-day {
      padding-top: 10px;
      margin-left: 50px;
      padding-bottom: 17px; } }

.body-box2-info-date {
  width: 50%; }
  @media only screen and (min-width: 1024px) {
    .body-box2-info-date {
      padding-top: 10px; } }

.body-box-info {
  display: flex;
  flex-direction: column;
  color: #000; }
  @media only screen and (min-width: 1024px) {
    .body-box-info {
      flex-direction: row;
      justify-content: center; } }

#butten-collapse,
#butten-collapse-x,
#butten-collapse-x-1,
#butten-collapse-x-2 {
  position: relative;
  display: none;
  padding: 1rem;
  background-color: #18a0fb;
  color: #fff;
  z-index: 4;
  cursor: pointer;
  box-shadow: 0 0 6em 4px; }

#butten-collapse {
  margin-bottom: 5px; }

.collapse-button-txt {
  color: #fff; }

.collapse-button {
  background-color: #fff;
  color: #fff;
  width: 100%;
  height: 50px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; }
  .collapse-button span {
    z-index: 6; }

.collapse-x,
.collapse-x-1,
.collapse-x-2 {
  display: flex;
  justify-content: flex-end; }

.collapse-wrapper {
  position: relative;
  overflow: hidden;
  margin-bottom: 4px; }

.collapse-button:after {
  transition: 1s;
  width: 100%;
  height: 300px;
  content: "";
  background-color: #18a0fb;
  position: absolute; }

.collapse-wrapper:hover .collapse-button:after {
  width: 250px;
  height: 100px;
  background-color: #0b3d5e; }

.body-e-grid-container {
  grid-template-areas: "body-e-box-1 body-e-box-2"; }

.body-e-box-1 {
  grid-area: body-e-box-1; }

.body-e-box-2 {
  grid-area: body-e-box-2;
  padding: 50px 30px;
  text-align: justify; }
  .body-e-box-2 p {
    font-size: 19px;
    font-weight: 100; }
  @media only screen and (min-width: 1024px) {
    .body-e-box-2 {
      padding: 50px 80px; } }

.body-e-box-img {
  background-image: url("../../../media/samuel-zeller.jpg");
  width: 100%;
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media only screen and (min-width: 1024px) {
    .body-e-box-img {
      background-attachment: scroll; } }

.body-f-grid-container {
  grid-template-areas: "body-f-box-1 body-f-box-2"; }

.body-f-grid-container {
  background-color: #F5F5F5; }

.body-f-box-2 {
  grid-area: body-f-box-2; }

.body-f-box-1 {
  grid-area: body-f-box-1;
  padding: 50px 30px;
  text-align: justify; }
  .body-f-box-1 p {
    font-size: 19px;
    font-weight: 100; }
  @media only screen and (min-width: 1024px) {
    .body-f-box-1 {
      padding: 50px 80px; } }

.body-f-box-img {
  background-image: url("../../../media/skeleton.jpg");
  width: 100%;
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media only screen and (min-width: 1024px) {
    .body-f-box-img {
      background-attachment: scroll; } }

.body-g-grid-container {
  grid-template-areas: "body-g-box-1 body-g-box-2"; }

.body-g-box-1 {
  grid-area: body-g-box-1; }

.body-g-box-2 {
  grid-area: body-g-box-2;
  padding: 50px 30px;
  text-align: justify; }
  .body-g-box-2 p {
    font-size: 19px;
    font-weight: 100; }
  @media only screen and (min-width: 1024px) {
    .body-g-box-2 {
      padding: 50px 80px; } }

.body-g-box-img {
  background-image: url("../../../media/people.jpg");
  width: 100%;
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media only screen and (min-width: 1024px) {
    .body-g-box-img {
      background-attachment: scroll; } }

.testimonial-body-d-grid-container {
  padding: 50px 30px;
  margin-top: 10px;
  background-color: #f5f5f5;
  grid-template-areas: "testimonial-body-d testimonial-body-d testimonial-body-d testimonial-body-d testimonial-body-d" "testimonial-body-d-box-1  testimonial-body-d-box-2 testimonial-body-d-box-3 testimonial-body-d-box-4  testimonial-body-d-box-5"; }
  @media only screen and (min-width: 1024px) {
    .testimonial-body-d-grid-container {
      padding: 50px 80px; } }
  .testimonial-body-d-grid-container p {
    font-size: 19px;
    font-weight: 100; }
  .testimonial-body-d-grid-container h1 {
    font-size: 25px;
    padding-bottom: 15px; }
  @media only screen and (min-width: 1024px) {
    .testimonial-body-d-grid-container h1 {
      font-size: 20px;
      padding-bottom: 35px;
      padding-top: 20px; } }

.testimonial-body-d {
  grid-area: testimonial-body-d;
  text-align: center; }

.testimonial-body-d-box-1 {
  grid-area: testimonial-body-d-box-1; }

.testimonial-body-d-box-2 {
  grid-area: testimonial-body-d-box-2; }

.testimonial-body-d-box-3 {
  grid-area: testimonial-body-d-box-3; }

.testimonial-body-d-box-4 {
  grid-area: testimonial-body-d-box-4; }

.testimonial-body-d-box-5 {
  grid-area: testimonial-body-d-box-5; }

.testimonial-body-d-box-1,
.testimonial-body-d-box-2,
.testimonial-body-d-box-3,
.testimonial-body-d-box-4,
.testimonial-body-d-box-5 {
  margin-top: 30px; }
  @media only screen and (min-width: 1024px) {
    .testimonial-body-d-box-1,
    .testimonial-body-d-box-2,
    .testimonial-body-d-box-3,
    .testimonial-body-d-box-4,
    .testimonial-body-d-box-5 {
      margin-top: 80px; } }
  .testimonial-body-d-box-1 .testimonial-body-d-button,
  .testimonial-body-d-box-2 .testimonial-body-d-button,
  .testimonial-body-d-box-3 .testimonial-body-d-button,
  .testimonial-body-d-box-4 .testimonial-body-d-button,
  .testimonial-body-d-box-5 .testimonial-body-d-button {
    background-color: #18a0fb;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    color: #fff;
    position: relative;
    box-shadow: 0px 20px 54px 5px #5098c959;
    cursor: pointer;
    width: 100%; }
  .testimonial-body-d-box-1 :hover,
  .testimonial-body-d-box-2 :hover,
  .testimonial-body-d-box-3 :hover,
  .testimonial-body-d-box-4 :hover,
  .testimonial-body-d-box-5 :hover {
    background-color: #0b3d5e;
    transition: 1s;
    position: relative;
    box-shadow: 0px 20px 54px 5px #686868; }

.body-signup-c-grid-container {
  grid-template-areas: "body-signup-c-box-1 body-signup-c-box-2"; }

.body-signup-c-box-1 {
  grid-area: body-signup-c-box-1; }

.body-signup-c-box-2 {
  grid-area: body-signup-c-box-2; }
  @media only screen and (min-width: 1024px) {
    .body-signup-c-box-2 a {
      margin: 10px; } }

.body-signup-c-box-1,
.body-signup-c-box-2 {
  padding: 20px 30px; }
  @media only screen and (min-width: 1024px) {
    .body-signup-c-box-1,
    .body-signup-c-box-2 {
      padding: 50px 80px; } }

.test-bottum {
  margin-top: 15px;
  background-color: #18a0fb;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  color: #fff;
  position: relative;
  box-shadow: 0px 20px 54px 5px #5098c959;
  cursor: pointer;
  width: 100%; }

.test-bottum:hover {
  background-color: #0b3d5e;
  transition: 1s;
  position: relative;
  box-shadow: 0px 20px 54px 5px #686868; }

@media only screen and (min-width: 1024px) {
  .test-bottum {
    margin-top: 75px; } }

.body-signup-c-box-1 h2 {
  font-size: 19px; }

.body-signup-c-box-1 p {
  font-size: 19px;
  font-weight: 100; }

@media only screen and (min-width: 1024px) {
  .body-signup-c-box-1 {
    font-size: 19px;
    font-weight: 100; } }

.sub-page-body-g-grid-container {
  grid-template-areas: "sub-page-body-g-box-1 sub-page-body-g-box-2"; }

.sub-page-body-g-box-1 {
  grid-area: sub-page-body-g-box-1; }

.sub-page-body-g-box-2 {
  grid-area: sub-page-body-g-box-2;
  padding: 20px 30px; }
  @media only screen and (min-width: 1024px) {
    .sub-page-body-g-box-2 {
      padding: 50px 80px; } }
  .sub-page-body-g-box-2 p {
    font-size: 19px;
    font-weight: 100; }

.sub-page-body-g-box-img {
  background-image: url("../../../media/luke-ellis-craven.jpg");
  width: 100%;
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media only screen and (min-width: 1024px) {
    .sub-page-body-g-box-img {
      background-attachment: scroll; } }

.sub-page-body-d-grid-container {
  grid-template-areas: "sub-page-body-d-box-1 sub-page-body-d-box-2"; }

.sub-page-body-d-box-1 {
  grid-area: sub-page-body-d-box-1; }

.sub-page-body-d-box-2 {
  grid-area: sub-page-body-d-box-2;
  padding: 20px 30px; }
  @media only screen and (min-width: 1024px) {
    .sub-page-body-d-box-2 {
      padding: 50px 80px; } }
  .sub-page-body-d-box-2 p {
    font-size: 19px;
    font-weight: 100; }

.sub-page-body-d-box-img {
  background-image: url("../../../media/roberto-nickson.jpg");
  width: 100%;
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media only screen and (min-width: 1024px) {
    .sub-page-body-d-box-img {
      background-attachment: scroll; } }

.sub-page-body-c-grid-container {
  grid-template-areas: "sub-page-body-c-box-1 sub-page-body-c-box-2"; }

.sub-page-body-c-box-1 {
  grid-area: sub-page-body-c-box-1; }

.sub-page-body-c-box-2 {
  grid-area: sub-page-body-c-box-2;
  padding: 20px 30px; }
  @media only screen and (min-width: 1024px) {
    .sub-page-body-c-box-2 {
      padding: 50px 80px; } }
  .sub-page-body-c-box-2 p {
    font-size: 19px;
    font-weight: 100; }

.sub-page-body-c-box-img {
  background-image: url("../../../media/scientific.jpg");
  width: 100%;
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media only screen and (min-width: 1024px) {
    .sub-page-body-c-box-img {
      background-attachment: scroll; } }

.sub-page-body-a-grid-container {
  grid-template-areas: "sub-page-body-a-box-1 sub-page-body-a-box-2"; }

.sub-page-body-a-box-1 {
  grid-area: sub-page-body-a-box-1; }

.sub-page-body-a-box-2 {
  grid-area: sub-page-body-a-box-2;
  padding: 20px 30px; }
  @media only screen and (min-width: 1024px) {
    .sub-page-body-a-box-2 {
      padding: 50px 80px; } }
  .sub-page-body-a-box-2 p {
    font-size: 19px;
    font-weight: 100; }

.sub-page-body-a-box-img {
  background-image: url("../../../media/william-bout.jpg");
  width: 100%;
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media only screen and (min-width: 1024px) {
    .sub-page-body-a-box-img {
      background-attachment: scroll; } }

.sub-page-body-b-grid-container {
  grid-template-areas: "sub-page-body-b-box-1 sub-page-body-b-box-2"; }

.sub-page-body-b-box-1 {
  grid-area: sub-page-body-b-box-1; }

.sub-page-body-b-box-2 {
  grid-area: sub-page-body-b-box-2;
  padding: 20px 30px; }
  @media only screen and (min-width: 1024px) {
    .sub-page-body-b-box-2 {
      padding: 50px 80px; } }
  .sub-page-body-b-box-2 p {
    font-size: 19px;
    font-weight: 100; }

.sub-page-body-b-box-img {
  background-image: url("../../../media/skeleton.jpg");
  width: 100%;
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media only screen and (min-width: 1024px) {
    .sub-page-body-b-box-img {
      background-attachment: scroll; } }

.sub-page-body-e-grid-container {
  grid-template-areas: "sub-page-body-e-box-1 sub-page-body-e-box-2"; }

.sub-page-body-e-box-1 {
  grid-area: sub-page-body-e-box-1; }

.sub-page-body-e-box-2 {
  grid-area: sub-page-body-e-box-2;
  padding: 20px 30px; }
  @media only screen and (min-width: 1024px) {
    .sub-page-body-e-box-2 {
      padding: 50px 80px; } }
  .sub-page-body-e-box-2 p {
    font-size: 19px;
    font-weight: 100; }

.sub-page-body-e-box-img {
  background-image: url("../../../media/people.jpg");
  width: 100%;
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media only screen and (min-width: 1024px) {
    .sub-page-body-e-box-img {
      background-attachment: scroll; } }

.sub-page-body-f-grid-container {
  grid-template-areas: "sub-page-body-f-box-1 sub-page-body-f-box-2"; }

.sub-page-body-f-box-1 {
  grid-area: sub-page-body-f-box-1; }

.sub-page-body-f-box-2 {
  grid-area: sub-page-body-f-box-2;
  padding: 20px 30px; }
  @media only screen and (min-width: 1024px) {
    .sub-page-body-f-box-2 {
      padding: 50px 80px; } }
  .sub-page-body-f-box-2 p {
    font-size: 19px;
    font-weight: 100; }

.sub-page-body-f-box-img {
  background-image: url("../../../media/samuel-zeller.jpg");
  width: 100%;
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media only screen and (min-width: 1024px) {
    .sub-page-body-f-box-img {
      background-attachment: scroll; } }

.sub-page-body-h-grid-container {
  grid-template-areas: "sub-page-body-h-box-1 sub-page-body-h-box-2"; }

.sub-page-body-h-box-1 {
  grid-area: sub-page-body-h-box-1; }

.sub-page-body-h-box-2 {
  grid-area: sub-page-body-h-box-2;
  padding: 20px 30px; }
  @media only screen and (min-width: 1024px) {
    .sub-page-body-h-box-2 {
      padding: 50px 80px; } }
  .sub-page-body-h-box-2 p {
    font-size: 19px;
    font-weight: 100; }

.sub-page-body-h-box-img {
  background-image: url("../../../media/scientific.jpg");
  width: 100%;
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media only screen and (min-width: 1024px) {
    .sub-page-body-h-box-img {
      background-attachment: scroll; } }

.sub-page-hero-x-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "sub-page-hero-x"; }

.sub-page-hero-x {
  grid-area: sub-page-hero-x;
  padding: 50px 30px;
  text-align: center; }
  .sub-page-hero-x h1 {
    font-size: 25px; }

.sub-page-hero-x-1-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "sub-page-hero-x-1"; }

.sub-page-hero-x-1 {
  grid-area: sub-page-hero-x-1;
  padding: 50px 30px;
  text-align: center; }
  .sub-page-hero-x-1 h1 {
    font-size: 25px; }

.sub-shop-hero-x-2-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "sub-shop-hero-x-2"; }

.sub-shop-hero-x-2 {
  grid-area: sub-shop-hero-x-2;
  padding: 50px 30px;
  text-align: center; }
  .sub-shop-hero-x-2 h1 {
    font-size: 25px; }

.sub-shop-hero-x-3-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "sub-shop-hero-x-3"; }

.sub-shop-hero-x-3 {
  grid-area: sub-shop-hero-x-3;
  padding: 50px 30px;
  text-align: center; }
  .sub-shop-hero-x-3 h1 {
    font-size: 25px; }

.shop-box-grid-container {
  grid-template-areas: "shop-box-1 shop-box-2 shop-box-3" "shop-box-4 shop-box-5 shop-box-6" "shop-box-7 shop-box-8 shop-box-9"; }

.shop-box-1 {
  grid-area: shop-box-1; }

.shop-box-2 {
  grid-area: shop-box-2; }

.shop-box-3 {
  grid-area: shop-box-3; }

.shop-box-4 {
  grid-area: shop-box-4; }

.shop-box-5 {
  grid-area: shop-box-5; }

.shop-box-6 {
  grid-area: shop-box-6; }

.shop-box-7 {
  grid-area: shop-box-7; }

.shop-box-8 {
  grid-area: shop-box-8; }

.shop-box-9 {
  grid-area: shop-box-9; }

.product-box {
  height: 250px;
  perspective: 1000px;
  margin-bottom: 5px; }

.product-box-layer {
  position: relative;
  width: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d; }

.product-box:hover .product-box-layer {
  transform: rotateY(180deg); }

.product-box-front-layer,
.product-box-back-layer {
  position: absolute;
  width: 100%;
  backface-visibility: hidden; }

.product-box-front-layer {
  background-color: transparent;
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.2); }

.product-box-back-layer {
  background-color: #18a0fb73;
  padding: 25px 15px;
  height: 250px;
  color: #fff;
  transform: rotateY(180deg); }
  .product-box-back-layer p {
    font-size: 15px; }

.product-box-img {
  background-image: url("../../../media/");
  min-height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer; }

.product-box-img-2 {
  background-image: url("../../../media/");
  min-height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer; }

.product-box-img-3 {
  background-image: url("../../../media/");
  min-height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer; }

.product-box-img-4 {
  background-image: url("../../../media/");
  min-height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer; }

.product-box-img-5 {
  background-image: url("../../../media/");
  min-height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer; }

.product-box-img-6 {
  background-image: url("../../../media/");
  min-height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer; }

.product-box-img-7 {
  background-image: url("../../../media/");
  min-height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer; }

.product-box-img-8 {
  background-image: url("../../../media/");
  min-height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer; }

.product-box-img-9 {
  background-image: url("../../../media/");
  min-height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer; }

.shop-box-2-grid-container {
  grid-template-areas: "shop-box-2-1 shop-box-2-2 shop-box-2-3" "shop-box-2-4 shop-box-2-5 shop-box-2-6" "shop-box-2-7 shop-box-2-8 shop-box-2-9"; }

.shop-box-2-1 {
  grid-area: shop-box-2-1; }

.shop-box-2-2 {
  grid-area: shop-box-2-2; }

.shop-box-2-3 {
  grid-area: shop-box-2-3; }

.shop-box-2-4 {
  grid-area: shop-box-2-4; }

.shop-box-2-5 {
  grid-area: shop-box-2-5; }

.shop-box-2-6 {
  grid-area: shop-box-2-6; }

.shop-box-2-7 {
  grid-area: shop-box-2-7; }

.shop-box-2-8 {
  grid-area: shop-box-2-8; }

.shop-box-2-9 {
  grid-area: shop-box-2-9; }

.lbl-soldout {
  position: absolute;
  left: 5px;
  top: 5px;
  z-index: 11;
  right: 5px;
  background: #ff708e;
  width: 50px;
  border-radius: 100%;
  padding: 5px;
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.2); }

.product-box-img-2-1 {
  background-image: url("../../../media/celso.jpg");
  min-height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer; }

.product-box-img-2-2 {
  background-image: url("../../../media/exhibition.jpg");
  min-height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer; }

.product-box-img-2-3 {
  background-image: url("../../../media/scientific.jpg");
  min-height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer; }

.product-box-img-2-4 {
  background-image: url("../../../media/heart.jpg");
  min-height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer; }

.product-box-img-2-5 {
  background-image: url("../../../media/mammoth.jpg");
  min-height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer; }

.product-box-img-2-6 {
  background-image: url("../../../media/william-bout.jpg");
  min-height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer; }

.product-box-img-2-7 {
  background-image: url("../../../media/scott-webb.jpg");
  min-height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer; }

.product-box-img-2-8 {
  background-image: url("../../../media/skeleton.jpg");
  min-height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer; }

.product-box-img-2-9 {
  background-image: url("../../../media/samuel-zeller.jpg");
  min-height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer; }

.community-form-grid-container {
  display: grid;
  height: 30%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 0.1fr 0.1fr;
  gap: 7px 0px;
  grid-template-areas: "community-form-box community-form-box" "community-form-box-1 community-form-box-1" "community-form-box-2 community-form-box-2" "community-form-box-3 community-form-box-3" "community-form-box-4 community-form-box-4"; }

.community-form-box {
  grid-area: community-form-box; }

.community-form-box-1 {
  grid-area: community-form-box-1; }

.community-form-box-2 {
  grid-area: community-form-box-2; }

.community-form-box-3 {
  grid-area: community-form-box-3;
  height: 200px; }

.community-form-box-4 {
  grid-area: community-form-box-4; }
  .community-form-box-4 input[type=submit] {
    width: 100%;
    background-color: #18a0fbc2;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right; }
    @media only screen and (min-width: 1024px) {
      .community-form-box-4 input[type=submit] {
        width: 80px;
        height: 80px;
        border-radius: 100%;
        position: absolute;
        left: 80%;
        top: 50%;
        z-index: 11; } }
  .community-form-box-4 input[type=submit]:hover {
    background-color: #096fb6b5; }

.community-form-box, .community-form-box-1, .community-form-box-2, .community-form-box-3, .community-form-box-4 {
  width: 100%; }

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px; }
  @media only screen and (min-width: 1024px) {
    input[type=text], select, textarea {
      width: 80%; } }

.box-container {
  background-color: #f2f2f2; }

.hedder-box-grid-center {
  width: 70%;
  text-align: center; }

.form-box {
  text-align: center;
  margin: 150px; }

.community-form-grid-container {
  display: grid;
  height: 30%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 0.1fr 0.1fr;
  gap: 7px 0px;
  grid-template-areas: "community-form-box community-form-box" "community-form-box-1 community-form-box-1" "community-form-box-2 community-form-box-2" "community-form-box-3 community-form-box-3" "community-form-box-4 community-form-box-4"; }

.community-form-box {
  grid-area: community-form-box; }

.community-form-box-1 {
  grid-area: community-form-box-1; }

.community-form-box-2 {
  grid-area: community-form-box-2; }

.community-form-box-3 {
  grid-area: community-form-box-3;
  height: 200px; }

.community-form-box-4 {
  grid-area: community-form-box-4; }
  .community-form-box-4 input[type=submit] {
    width: 100%;
    background-color: #18a0fbc2;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right; }
    @media only screen and (min-width: 1024px) {
      .community-form-box-4 input[type=submit] {
        width: 80px;
        height: 80px;
        border-radius: 100%;
        position: absolute;
        left: 80%;
        top: 50%;
        z-index: 11; } }
  .community-form-box-4 input[type=submit]:hover {
    background-color: #096fb6b5; }

.community-form-box, .community-form-box-1, .community-form-box-2, .community-form-box-3, .community-form-box-4 {
  width: 100%; }

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px; }
  @media only screen and (min-width: 1024px) {
    input[type=text], select, textarea {
      width: 80%; } }

.box-container {
  background-color: #f2f2f2; }

.hedder-box-grid-center {
  width: 70%;
  text-align: center; }

.form-box {
  text-align: center;
  margin: 150px; }

.help-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "help-box"; }

.help-box {
  grid-area: help-box;
  width: 70%;
  text-align: center;
  padding: 50px 50px; }
