<form action="community-form-1.php" method="POST" data-netlify="true">
  <div class="community-form-grid-container box-container">
    <div class="community-form-box hedder-box-grid-center">
      <h2>Internships</h2>
      <small
        ><i>
          Are you interested in working in a museum? Do you enjoy the fun and excitement of sharing
          the wonders of nature with people? Well you could be just the right person to enjoy an
          internship at the museum. You’ll be learning from a number of different academics and
          people who are passionate about science and sharing it with the wider community.
        </i></small
      >
    </div>
    <div class="community-form-box-1 box-grid-center">
      <input type="text" name="name" placeholder="Name" />
    </div>
    <div class="community-form-box-2 box-grid-center">
      <input type="text" name="email" placeholder="@gmail.com" />
    </div>
    <div class="community-form-box-3 box-grid-center">
      <textarea name="subject" placeholder="Write something.."></textarea>
    </div>
    <div class="community-form-box-4 box-grid-center">
      <input type="submit" />
    </div>
  </div>
</form>
